.datatable-container {
    width:full;
    margin: 0 auto;
    padding-top: 20px;
    background-color: white;
  }
  
  .selected-panel {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  h3 {
    color: #007ad9;
  }
  
  .p-dropdown {
    min-width: 120px;
  }
  
  .p-button-text {
    margin-left: 5px;
  }
  
  .p-column-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  